{% extends "grocery_app/layout.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container mt-5">
  <!-- top -->
  <div class="row">
    <div class="col-lg-6">
      <h1>View Grocery List</h1>
    </div>
    <div class="col-lg-6 float-right">
      <div class="row">
        <div class="col-lg-8">
          <!-- Date Filtering-->
          <input type="date" class="form-control">
        </div>
        <div class="col-lg-4">
          <input type="submit" class="btn btn-danger" value="filter">
        </div>
      </div>
    </div>
  </div>
  <!-- // top -->
  <!-- Grocery Cards -->
  <div class="row mt-4">
    <!--- -->
    <!-- Loop This -->
    {% for item in grocery %}
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.quantity }}</h6>
          {% if item.status == 'BOUGHT' %}
          <p class="text-success">{{ item.status }}</p>
          {% elif item.status == 'PENDING' %}
          <p class="text-info">{{ item.status }}</p>
          {% else %}
          <p class="text-danger">{{ item.status }}</p>
          {% endif %}
          <a href="#" class="card-link">Update</a>
          <a href="#" class="card-link">Delete</a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="alert alert-danger" role="alert">Bag is empty! Please add items</div>
    {% endfor %}
    <!-- // Loop -->

  </div>
</div>
{% endblock %}